@model IEnumerable<Entities.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="card-body">

    <form class="mb-2">
        <div class="row mb-6">

            <div class="form-group">
                <label class="control-label" for="FechaInicio">Fecha Inicio</label>
                <input class="form-control" type="datetime-local" data-val="true" id="Fecha1" name="Fecha1" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="FechaInicio" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <label class="control-label" for="FechaFin">Fecha Fin</label>
                <input class="form-control" type="datetime-local" data-val="true" id="Fecha2" name="Fecha2" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="FechaFin" data-valmsg-replace="true"></span>
            </div>

        </div>


        <div class="row mt-8">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-primary--icon" id="btnBuscar">
                    <span>
                        <i class="la la-search"></i>
                        <span>Buscar reservas por fecha</span>
                    </span>
                </button>
            </div>
        </div>
    </form>

</div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <th>
                    @Html.DisplayFor(model => item.Habitacion.Hotel.Nombre)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Habitacion.NumeroHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{

    <script>
        $('#btnBuscar').on('click', function (e) {
            e.preventDefault();

            if ($("#Fecha1").val() != null && $("#Fecha2").val() != null) {

                fechaIni = new Date($("#Fecha1").val());
                fechaFin = new Date($("#Fecha2").val());

                f1 = fechaIni.getDate() + "/" + (fechaIni.getMonth() + 1) + "/" + fechaIni.getFullYear()
                f2 = fechaFin.getDate() + "/" + (fechaFin.getMonth() + 1) + "/" + fechaFin.getFullYear()

                $.ajax({
                    type: "POST",
                    url: "Reservas/Index",
                    data: { page:1, fechaInicial: f1, fechaFinal: f2, disponibles: 1 },
                    dataType: "text",
                    success: function (msg) {
                        console.log(msg);
                    },
                    error: function (req, status, error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
}