@model IEnumerable<Entities.Models.CostoHabitacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temporada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoHabitacion.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temporada.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CostoHabitacionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CostoHabitacionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CostoHabitacionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
